[submodule "external/MMCircuitEval"]
	path = external/MMCircuitEval
	url = https://github.com/cure-lab/MMCircuitEval.git
[submodule "external/ORD-QA"]
	path = external/ORD-QA
	url = https://github.com/lesliepy99/RAG-EDA.git
[submodule "external/UniEval"]
	path = external/UniEval
	url = https://github.com/maszhongming/UniEval.git
[submodule "external/EDA-Corpus"]
	path = external/EDA-Corpus
	url = https://github.com/OpenROAD-Assistant/EDA-Corpus.git
[submodule "external/ElectroVizQA"]
	path = external/ElectroVizQA
	url = https://github.com/Pragati-Meshram/ElectroVizQA.git
[submodule "external/Qwen3-VL"]
	path = external/Qwen3-VL
	url = https://github.com/QwenLM/Qwen3-VL.git
