# Options: general, spec, frontend, backend
field: spec

version: v1  # Options: v1 (JSON), v2 (Markdown)
cot: false

weights:
  bleu: 1.0
  rouge: 1.0
  emb: 1.0
  llm: 2.0

use_embedder: true
use_llm_scorer: true

output:
  predictions_file: preds.json
  results_file: results.json

output_dir: null

api:
  openai_api_key: ${oc.env:OPENAI_API_KEY,null}
  openai_base_url: https://api.openai.com/v1
  embedding_model: text-embedding-3-large
  llm_model: gpt-4o

gpu_id: 4
seed: 42
max_samples: null

execution:
  run_inference: true
  run_evaluation: true
  run_results: true
